
<div class="container">
        
    <form>
      <ng-template [ngIf]="isinRoom" [ngIfElse]="isnotinRoom">
        <div class="form-group">
          <p class="text">Curret in channel: {{roomslist}}</p>
          <p class="text">{{numusers}} users in this channel right now</p> 
          <button (click)="leaveroom()" class="btn btn-primary">Leave</button>
          <div>
            <label for="messagecontent">New Message</label>
            <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
            <button (click)="chat()" class="btn btn-primary">Chat</button>
        </div>

        <div class = "chat-messages">
          <div class="message" *ngFor="let message of messages">
            <p class="meta">{{message.user}}</p>
            <p class="text">{{message.message}}</p>
          </div>
        </div>

      </ng-template>
      <ng-template #isnotinRoom>
        <select [(ngModel)] = "roomslist" name="roomslist">
            <option [ngValue]="null">Select Room</option>
            <option *ngFor="let room of rooms">
                {{room.roomname}}
            </option>
        </select> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        
        
        <br/><br/>

        <button (click)="joinroom()" class="btn btn-primary">Join</button> <br>
           
      </ng-template>

      <ng-template [ngIf]="isAdmin">
        <div>
          <label for="newroom">New Room</label>
           <input type="text" [(ngModel)]="newroom" name="newroom" id="newroom" class="form-control"/>
           <button (click)="createroom()" class="btn btn-primary">Create New Room</button>
        </div>
      </ng-template>
    </form>
    <!--<h3>Notices</h3>
    {{roomnotice}}<br>
    <button (click)="clearnotice()" class="btn btn-primary">Clearnotice</button><br/>
    <h3>Char Messages for {{currentroom}} - {{numusers}} Active Users</h3>-->

    

</div>
