<ng-template [ngIf]="isLogin">
  <div class="container-fluid" style="background-color: bisque; height: 40px;">
     <div class="h-100 d-inline-block border border-secondary rounded text-light" style="background-color: blueviolet; width: 200px;">
       Welcome, {{this.user.username}}
     </div>

    <div class="h-100 d-inline-block border border-secondary rounded text-light" style="background-color: rgb(103, 51, 225); width: 200px;">
       Your identity is {{this.user.type}}.
    </div>

    <div class="h-100 inline-block">
       <button (click) = "logout()" class="btn btn-outline-primary">Log out</button>
    </div>
  </div>
</ng-template>
<div class="container">
  <div class="row align-items-start">
    <div class="col">

    </div>
    <div class="col">
        <ng-template [ngIf]="isLogin" [ngIfElse]="login">
            <div>
                
                <app-chat [user]="user.username" [usertype]="user.type" #chatChild></app-chat>
            </div>
        </ng-template>
            
        <ng-template #login>
        <br/><br/><br/><br/>
        <div class="container border border-secondary rounded" style="background-color: #eee;">    
          <h1>Login to enjoy chat!</h1>
          <form action="/action_page.php">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" placeholder="Enter email" name="username" [(ngModel)] = "user.username">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)] = "user.password">
            </div>
            <button (click) = "getUser()"  class="btn btn-primary">Submit</button>
          </form>

          <div class="container alert alert-light" style="background-color: #eee;">
            <strong>{{this.errorMsg}}</strong> 
          </div>
            
        </div> 
        </ng-template>
    </div>
    <div class="col">
       
    </div>
  </div>
</div>




